{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/streamfold/rotel-nodejs.git"
  },
  "author": "Ray Jenkins <ray@streamfold.com>",
  "homepage": "https://github.com/streamfold/rotel-nodejs/README.md",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
